  mat-card{
    height: 100%;
    padding: 10px;
    margin: 0px 15px;
    border-radius: 13px;
  }

  .vl{
    border-left: 1px solid gray;
    height: 40px;
    margin: 0px 10px;
  }
  .m1{
    color: blue;
    color: var(--secondary-1, #0073E6);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
  .header{
    color: var(--text-100, #1C4980);
    display: flex;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
  }
  .card{
    height: 100%;
    padding: 60px;
    margin: 10px;
    color: rgb(190, 189, 189);
    border: 1px solid;

  }
.new-assessment{
  width:30%;
  margin: 10px;
  background-color: white;
}
.new-assessment-content{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

}

.circle{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.card-image{
  display: flex;
  justify-content: space-between;
}
.card-content{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 2px;
}

.job-title{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1px;
    margin: 1px;
}

.seperate-button{
  display: flex;
  justify-content: space-between;
}
.c1{
  display: flex;
  gap: 10px;
  margin: 5px;
  padding: 5px;
  color: rgb(88, 88, 205);
  font-size: 14px;
}
.c2{
  display: flex;
  gap: 10px;
  
}
.user-ball{
  height: 25px;
  width: 25px;
  background-color: #5b09e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.seperate-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview{
  display: flex; 
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .new-assessment {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  mat-card{
    height: auto;
    margin: 0px;   
  }
  .overview{
    display: block;
    padding: 10px;
  }
  .mobile-view-width{
    width: 45% !important;
    border-radius: 0px !important;
   
  }
  .mobile-view-width-2{
    width: 92% !important;
    border-radius: 0px !important;

  }
  .assignment-overview{
    margin: -20px -57px -26px -35px  !important;
  }
  
}

/* website view */
.website-view{
  display:flex !important;

}

/* mobile view */
.mobile-view{
  display:none !important;
}

@media screen and (max-width: 800px) {
  .website-view {
    display: none !important; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .mobile-view{
    display:flex !important;
  }
}